<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <record id="action_car_stock_picking_favourites" model="ir.actions.act_window">
            <field name="name">Pickings(Car Number)</field>
            <field name="res_model">picking.car.favourite.wizard</field>
            <field name="view_type">form</field>
            <field name="view_mode">form</field>
            <field name="target">new</field>
        </record>
        <menuitem id="car_stock_picking_favourites" name="Pickings(Favorites)" parent="stock.menu_stock_warehouse_mgmt"
                  action="action_car_stock_picking_favourites"/>
    </data>
</odoo>